<head>
<link rel="stylesheet" type="text/css" href="style.css">

/* open-sans-regular - latin */
@font-face {
  font-family: 'DM Serif Display', serif;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background: url(http://www.ericcayce.com/images/leaves_2.jpg) no-repeat center center fixed;
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://assets.hongkiat.com/uploads/oversized-background-image-design/bg.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.https://assets.hongkiat.com/uploads/oversized-background-image-design/bg.jpg', sizingMethod='scale');
  }
}

body {
  background-color: #000000;
  font-size: 100%;
  }

footer {
  background-color: #f7f7f7;
  position: relative;
  height: 48px;
}

a {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  text-decoration: none;
  color: #fffff0;
  line-height: 1;
  }

a:hover {
  color: #3dcbff;
}

h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 3em;
  font-weight: 400;
  line-height: 1;
  color: #fffff0;
  margin: 0;
  padding: 0;
  }

h2 {
  font-family: 'DM Serif Display', serif;
  font-size: 5em;
  color: #fffff0;
  font-weight: 400;
  margin: 0;
  padding: 0;
  }

h3 {
  font-family: 'DM Serif Display', serif;
  font-size: 3em;
  color: #fffff0;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

span {
    font-family: 'Retina-Regular', sans-serif;
    font-size: 1.2em;
    color: 000000;
    padding: 0;
    margin: 0;
  }

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.header {
  height: 120px;
  display: flex;
  align-items: center;
  padding: 0 48px;
}

.header-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.title {
  display: block;
  height: 56px;
}

.menu {
  display: inline-block;
}

.menu-items {
  display: inline;
}

.menu_button {
  color: #fffff0;
  font-family: 'DM Serif Display', serif;
  font-size: 1.5em;
  font-weight: 400;
  display: inline;
  margin-left: 32px;
}

.menu_button a:hover {
  color: #fffff0;
}

.dropdown-menu {
  display: none;
}

.dropdown-button {
  display: none;
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZjAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGxpbmUgeDE9IjMiIHkxPSIxMiIgeDI9IjIxIiB5Mj0iMTIiPjwvbGluZT48bGluZSB4MT0iMyIgeTE9IjYiIHgyPSIyMSIgeTI9IjYiPjwvbGluZT48bGluZSB4MT0iMyIgeTE9IjE4IiB4Mj0iMjEiIHkyPSIxOCI+PC9saW5lPjwvc3ZnPg==);
}

.main {
  width: 100%;
  display: flex;
  top: 120px;
  bottom: 0px;
  position: absolute;
}

.container {
  width: 100%;
  margin: 0 48px 48px 48px;
  border: solid;
  border-color: #fffff0;
  border-width: 4px;
  display: flex;
  flex-direction: row;
  height: fit-content;
/*  background-color: #fffff0; */
}

.hello {
  max-width: 768px;
  order: 1;
  margin: 40px;
  line-height: 1;
  flex-grow: 3;
}

.hello h2 {
  font-style: italic;
  text-transform: lowercase;
}

.contact-form {
  font-family: 'DM Serif Display', serif;
  background-color: #fffff0;
  height: fit-content;
  margin: 40px;
  padding: 32px;
  order: 2;
  flex-grow: 1;
}

.submit {
  font-family: 'DM Serif Display', serif;
  font-size: 16px;
  width: 60px;
  border: 1px solid #e0e0e0;
}

.contact-form input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  font-family: 'DM Serif Display', serif;
  font-size: 16px;
}

.contact-form input::placeholder {
  font-family: 'DM Serif Display', serif;
  font-size: 16px;
}

.contact-form textarea {
  width: 100%;
  font-family: 'DM Serif Display', serif;
  font-size: 16px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  resize: none;
  margin-bottom: 10px;
}

.submit {
  font-family: 'DM Serif Display', serif;
  font-size: 16px;
  width: 60px;
  border: 1px solid #e0e0e0;
}

.scroll {
  width: 100%;
  position: absolute;
  bottom: 80px;
  text-align: center;
}

.scroll-button {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZjAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCI+PC9jaXJjbGU+PHBvbHlsaW5lIHBvaW50cz0iOCAxMiAxMiAxNiAxNiAxMiI+PC9wb2x5bGluZT48bGluZSB4MT0iMTIiIHkxPSI4IiB4Mj0iMTIiIHkyPSIxNiI+PC9saW5lPjwvc3ZnPg==);
}

/* Welcome Message */


/* Media Views */

@media (max-width: 480px) {
  h1 {
    font-size: 2.5em;
  }
  .header {
    height: 72px;
    padding: 0 24px;
  }
  .title {
    height: 48px;
  }
  .dropdown-button {
    height: 32px;
    width: 32px;
  }
  .main {
    top: 72px;
  }
  .container {
    margin: 0 24px 24px 24px;
  }
}

@media (max-width: 768px) {
  .hello {
    max-width: 90%;
  }
  .hello h2 {
    font-size: 3.5em;
  }
  .hello h3 {
    font-size: 2em;
  }
}

@media (max-width: 936px) {
  .menu {
    display: none;
  }
  .dropdown-button {
    display: block;
  }
  .dropdown-menu {
    display: block;
  }
}
